.screen {
  height: 100vh;
  background-image: url("../images/screenbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

  
.video-container {
  position: relative;
}

.react-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  border: none; 
}

.controls {
  display: flex;
  flex-direction: column;
  width: 150px;
  z-index: 20;
}

.volume-bar {
  position: relative;
  height: 20px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: rgb(204, 204, 204);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: black;
  color: white;
  font-family: 'Ultra', serif;
  cursor: pointer;
  outline: 0;
}