.screen {
  top: 4em; 
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.react-player {
  width: 500px;
  height: 483px;
}

#temp-screen {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-58.5%, -24%);
  width: 30%;
  display: flex;
  z-index: -1
}

#temp-screen img {
  object-fit: cover;
}
  
.video-container {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-58.5%, -30%);
  width: 30%;
  display: flex;
  z-index: -1;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(180%, -25%);
  border: none; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  z-index: 20;
}

.volume-bar {
  position: relative;
  height: 20px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: rgb(204, 204, 204, 0.7);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.controls button:hover {
  background: transparent;
  color: black;
  border: black 0.1px solid;
  padding: 7px 12px;
  font-size: 14px;
}

.controls button {
  margin: 2em 0;
  border: none;
  height: 0.1px;
  width: 0.11px;
  color: grey;
  background: grey;
  border-radius: 50%;
}

.controls button:hover span {
  display: visible;
  color:black;
}

.screen-cover {
  opacity:1;
  background-blend-mode: lighten;
  background-image: url("../images/screencover.png");
  min-height:90vh;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

