.screen {
  top: 4em; 
  /* height: 95vh; */
  position: relative;
  /* background-image: url("../images/screenbackground.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

  
.video-container {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-58%, -15%);
  width: 30%;
  display: flex;
  z-index: -1
}


.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(180%, -50%);
  border: none; 
  display: flex;
  flex-direction: column;
  width: 150px;
  z-index: 20;
}

.volume-bar {
  position: relative;
  height: 20px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: rgb(204, 204, 204, 0.6);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: black;
  color: white;
  font-family: 'Ultra', serif;
  cursor: pointer;
  outline: 0;
}

.screen-overlay{
  opacity:0.1;
  background-color: rgba(255, 255, 255, 0.0000000001);
  background-blend-mode: lighten;
  background-image: url(https://media.giphy.com/media/pyqqSHqdekwVi/giphy.gif);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:-2;
}

.screen-cover {
  opacity:1;
  background-blend-mode: lighten;
  background-image: url("../images/screencover.png");
  /* position:fixed; */
  /* min-width:100vw; */
  min-height:90vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* z-index:9999; */
}
