.media-alert {
  display:none;
}

* {
  text-align: center;
  font-family: 'Ultra', serif;
  color: white;
}

.overlay{
  opacity:1;
  background-color:#ccc;
  background-image: url("images/countdown2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

footer img {
  height: 1em;
  width: 1em;
}

footer {
  bottom: 0;
  z-index:5;
  position: absolute;
  width: 100%;
  margin-bottom: -230px;
  text-shadow: 5px 5px grey;
}

input {
  height: 2.5em;
  border-radius: 5px;
  margin: 1em;
  color:black;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: black;
  color: white;
  font-family: 'Ultra', serif;
  cursor: pointer;
  outline: 0;
  border: 2px solid black;
}

button:hover {
  background: white;
  color:black;
  border: 2px solid black;
}


/* iPad */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    img {
      visibility:none;
      display: none;
    }
}
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header h1 {
      font-size: 25px;
    }
    header a {
      font-size: 13px;
    }
    .screen-cover { 
    background-image: none;
  }
  .video-container{
    width: 73%;
  }
  .controls {
    transform: translate(136%, -24%);
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    img {
      visibility:none;
      display: none;
    }
    .controls {
      transform: translate(170%, -51%);
    }
    .video-container {
      transform: translate(-36.5%, -55%);
      width: 38%;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img, .screen-overlay {
      visibility:none;
      display: none;
    }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img, .screen-overlay {
      visibility:none;
      display: none;
    }

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img, .screen-overlay {
      visibility:none;
      display: none;
    }
    .react-player {
      transform: translate(-36.5%, -55%);
      width: 38%;
    }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img, .screen-overlay {
      visibility:none;
      display: none;
    }

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img, .screen-overlay {
      visibility:none;
      display: none;
    }
    .video-container {
      transform: translate(-36.5%, -55%);
      width: 38%;
    }

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    img, .screen-overlay {
      visibility:none;
      display: none;
    }
    .video-container {
      transform: translate(-36.5%, -55%);
      width: 38%;
    }

}


/* iPhone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      header {
        width:175px;
      }
      header h1 {
        font-size: 19px;
      }
      header a {
        display: inline-block;
        margin: 0;
        font-size: 10px;
        padding: 0;
      }
      input {
        width: 100px;
      }
      .screen-overlay {
        display: none;
        visibility:hidden;
      }
      .message {
        display: none;
      }
      .video-container {
       display: none;
      }
     }

     @media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) {
      header {
        width:175px;
      }
      header h1 {
        font-size: 19px;
      }
      header a {
        display: inline-block;
        margin: 0;
        font-size: 10px;
        padding: 0;
      }
      input {
        width: 100px;
      }
      .message {
        display: none;
      }
      .video-container {
        display: none;
       }

     }


     /* sceen display */

@media screen and (min-width: 1200px) and (max-width: 1200px) {
      .controls {
        transform: translate(207%, -43%);
      }
      .video-container {
            transform: translate(-23.5%, -54%);
    width: 39%;
      }
  }
